@model IEnumerable<AditiBeautyCare.Web.UI.Models.BeautyCareService.BeautyCareServiceBookingModel>

@{
    ViewData["Title"] = "Data";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
    <link href="https://kit.fontawesome.com/23b93d01d8.js" rel="stylesheet">
  
  
</head>
<style>
    #rowdata {
        cursor: pointer;
        
    }
    tr:hover {
  background-color: yellow;
}
</style>
<body>
    <div class="container mt-3 mb-3">
        <div class="mb-3 mt-3 float-right">
            <a asp-action="Index" class="btn btn-primary" style="background-color: #102c44;">Book Service</a>
        </div>

        <div class="float-left">
            <h2>Service Bookings</h2>
        </div>

        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>
                        Service
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.From)
                    </th>
                    @* <th>
                            @Html.DisplayNameFor(model => model.To)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Mobile
                    </th>
                    @*  <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr @*class="clickable-row" id="rowdata" data-href="adminEditService/@item.Id"*@ >
                        <td>
                            @Html.DisplayFor(modelItem => item.ServiceName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.From)
                        </td>
                        @* <td>
                                @Html.DisplayFor(modelItem => item.To)
                            </td>*@
                        @* <td>
                             @item.Date.ToString("yyyy/MM/dd")
                            </td>*@
                        <td>
                            @item.Date.ToShortDateString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserMobileNumber)
                        </td>
                        @* <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>*@
                        <td>
                             <a asp-action="DeleteConfirmed" asp-route-id="@item.Id" onclick="return confirm('Are you sure?');"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
   
    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
</body>
</html>